.toolbar {
  width: 100%;
  background: #333;
  color: white;

  display: flex;
  align-items: center;
}

.toolbar .item {
  display: block;
  box-sizing: border-box;
  padding: 1.25rem 20px;
}

.toolbar .item.active {
  background: rgba(255, 255, 255, 0.1);
}